.button{
     padding: 15px;
     font-size: 20px;
     border: none;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
     background-color: #833AB4;
     transition: all 1s ease;
     


}

.button:hover{
     border-radius: 15px;
     cursor: pointer;
     background: #461f60;
     color: white;
}