*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.card-img{
     width: 100%;
     
     
}
body{
     width: 100%;
     height: 100vh;
}
.container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 50px;
     width: 400px;
     border: 1px solid black;
     margin: auto;
}
.card-section{
     padding: 20px;
     
}
.container-list ul{
     display: flex;
     gap: 30px;
     justify-content: center;
}
.card-list{
     text-decoration: none;
     list-style: none;
     background-color: gray;
     padding: 5px;
     border-radius: 10px;

}
.info-section{
     padding: 15px;
     gap: 30px;
     display: flex;
     flex-direction: column;
     justify-content: center;

}
h3{
     text-align: center;
}